<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="s:${societes}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.price}"></td>
            <td>
                <button class="btn badge-primary" th:attr="onclick=|onConnect(this,'${s.id}')|">Transaction</button>
            </td>
        </tr>
    </table>
    <canvas id="chart" width="800" height="400"></canvas>
</div>
<script th:src="@{/smoothie/smoothie.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
